voltronic-cli/bin/skymax.bak
voltronic-cli/bin/skymax
voltronic-cli/test/
CMakeFiles
CMakeCache.txt
cmake_install.cmake
Makefile
.DS_Store
sources/inverter-cli/bin/
sources/inverter-cli/inverter_poller
*~
*.swp
config/*.conf
config/*.json

